# Part 3: Machine Learning

### Final Cleaning

In [662]:
# Import statements
import pandas as pd

In [663]:
stats = pd.read_csv("player_mvp_stats.csv")

In [664]:
stats

,Unnamed: 0,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,0,A.C. Green,PF,36,LAL,82,82,23.5,2.1,4.7,...,0.0,0.0,Los Angeles Lakers,67,15,0.817,0.0,100.8,92.3,8.41
1,1,Brian Shaw,SG,33,LAL,74,2,16.9,1.7,4.4,...,0.0,0.0,Los Angeles Lakers,67,15,0.817,0.0,100.8,92.3,8.41
2,2,Derek Fisher,PG,25,LAL,78,22,23.1,2.1,6.2,...,0.0,0.0,Los Angeles Lakers,67,15,0.817,0.0,100.8,92.3,8.41
3,3,Devean George,SF,22,LAL,49,1,7.0,1.1,2.9,...,0.0,0.0,Los Angeles Lakers,67,15,0.817,0.0,100.8,92.3,8.41
4,4,Glen Rice,SF,32,LAL,80,80,31.6,5.3,12.3,...,0.0,0.0,Los Angeles Lakers,67,15,0.817,0.0,100.8,92.3,8.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12086,12086,Spencer Hawes,PF,28,MIL,54,1,14.8,2.5,5.1,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
12087,12087,Steve Novak,PF,33,MIL,8,0,2.8,0.3,0.9,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
12088,12088,Terrence Jones,PF,25,MIL,54,12,23.5,4.3,9.1,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
12089,12089,Thon Maker,C,19,MIL,57,34,9.9,1.5,3.2,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
12090,12090,Tony Snell,SG,25,MIL,80,80,29.2,3.1,6.8,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45

In [665]:
# Delete unnamed column
del stats["Unnamed: 0"]

In [666]:
# Remove null values
pd.isnull(stats).sum()

Player        0
Pos           0
Age           0
Tm            0
G             0
GS            0
MP            0
FG            0
FGA           0
FG%          49
3P            0
3PA           0
3P%        1516
2P            0
2PA           0
2P%          92
eFG%         49
FT            0
FTA           0
FT%         481
ORB           0
DRB           0
TRB           0
AST           0
STL           0
BLK           0
TOV           0
PF            0
PTS           0
Year          0
Pts Won       0
Pts Max       0
Share         0
Team          0
W             0
L             0
W/L%          0
GB            0
PS/G          0
PA/G          0
SRS           0
dtype: int64

In [667]:
stats[pd.isnull(stats["3P%"])][["Player", "3PA"]]

                  Player  3PA
6            John Salley  0.0
12         Travis Knight  0.0
17         Anthony Mason  0.0
23        Duane Causwell  0.0
29           Todd Fuller  0.0
...                  ...  ...
12060     Evan Eschmeyer  0.0
12061  Gheorghe MureÈan  0.0
12063      Jim McIlvaine  0.0
12069   Mark Hendrickson  0.0
12070       Michael Cage  0.0

[1516 rows x 2 columns]

In [668]:
stats[pd.isnull(stats["FT%"])][["Player", "FTA"]]

                    Player  FTA
26          Jamal Robinson  0.0
30           A.J. Bramlett  0.0
33         Benoit Benjamin  0.0
84     TyTy Washington Jr.  0.0
114            A.J. Guyton  0.0
...                    ...  ...
11938          George King  0.0
12010         Trevor Keels  0.0
12018          Luke Zeller  0.0
12053          Malcolm Lee  0.0
12087          Steve Novak  0.0

[481 rows x 2 columns]

In [669]:
# Fill missing or null values with 0
stats = stats.fillna(0)

In [670]:
stats.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year',
       'Pts Won', 'Pts Max', 'Share', 'Team', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS'],
      dtype='object')

### Training Machine Learning Model

In [671]:
predictors = ['Age', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year',
       'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS']

In [672]:
# Set training data
train  = stats[stats["Year"] < 2023]

In [673]:
# Set testing data
test  = stats[stats["Year"] == 2023]

In [674]:
# Using ridge regression
from sklearn.linear_model import Ridge
regression = Ridge(alpha=0.1)

In [675]:
# First predictions
regression.fit(train[predictors], train["Share"])

Ridge(alpha=0.1)

In [676]:
predictions = regression.predict(test[predictors])

In [677]:
predictions

array([ 3.46323094e-03,  2.91300990e-02,  3.66733266e-02,  2.19932364e-01,
       -3.92815823e-04, -4.98469530e-03,  1.01516421e-03, -8.73040311e-03,
        7.77667201e-04,  5.84920408e-02,  4.03833115e-02,  1.29308105e-02,
       -8.37207194e-03, -1.00530913e-02, -1.86457091e-03, -1.40180395e-02,
       -1.05981220e-03, -1.50521725e-02, -2.71610709e-03, -4.04685938e-02,
        5.41614179e-02, -1.50381066e-02, -1.93776286e-03,  2.25473097e-03,
       -1.94695918e-02, -7.53660295e-03, -1.17909128e-03, -2.38984825e-02,
       -1.96126940e-02,  6.10515735e-03,  7.67113540e-02,  1.94485443e-01,
       -7.13470123e-03, -3.15795775e-02, -9.04408103e-03, -3.71806480e-02,
       -2.63777983e-03, -6.83021431e-03, -8.51587804e-03, -1.81386194e-02,
       -2.46832703e-02, -4.82077468e-03, -1.20605840e-02,  2.21916993e-02,
       -1.38957681e-02,  2.73320855e-02,  2.32495876e-03, -9.32931519e-03,
        5.33824965e-04, -1.75043195e-02,  3.03797622e-03, -6.09506790e-04,
       -3.17394615e-03,  9.49809900e-02, -2.97889454e-02, -2.01127902e-02,
       -1.16668906e-02,  4.88151532e-02,  4.33578054e-03, -1.24377368e-02,
       -1.34689172e-02, -1.05194868e-02, -1.37365824e-03,  4.01399248e-02,
       -5.90831574e-03, -1.35125313e-02,  2.50098006e-02,  1.76814742e-01,
       -9.05671032e-04, -1.01671626e-02,  2.40035717e-02, -5.88484257e-03,
       -1.09213810e-02, -1.90141849e-02, -2.08260855e-02,  1.32492127e-02,
        1.81462139e-02, -1.55961280e-02,  5.41936123e-03,  3.06754083e-04,
       -6.79711909e-03,  3.41664099e-03,  8.59079731e-03, -1.44047438e-02,
       -7.50967397e-03, -2.06789259e-02,  6.38675306e-02, -4.36674454e-03,
        1.24175328e-02, -1.81880272e-02,  9.42691553e-02, -1.99677428e-02,
       -7.62843619e-03, -3.67607709e-03,  7.94828543e-03,  7.35588333e-03,
       -1.72324580e-02, -1.11221441e-02, -2.25210806e-02,  2.46664490e-02,
       -1.51743889e-02,  2.22334539e-04, -2.22028897e-02, -2.22329551e-02,
       -1.04013234e-02,  1.34612593e-01, -1.23395587e-02, -1.79456875e-02,
        7.46036116e-03, -2.85886970e-02, -2.22285890e-02,  1.29114793e-02,
        2.03400055e-02, -3.22076414e-02, -9.50015751e-03, -6.59416426e-03,
       -9.35191153e-03, -4.23959729e-03, -2.84982293e-02,  1.53283887e-02,
       -6.97898597e-03,  1.80389067e-02,  4.44448930e-02,  2.96361771e-02,
       -7.21790725e-04, -5.69390171e-03,  1.73456978e-02, -1.37103724e-02,
       -1.53488048e-03,  7.92162830e-02,  1.35480598e-01, -7.36243605e-03,
        1.17212427e-02, -1.58782465e-02,  3.29965212e-02,  6.95948575e-03,
       -1.58064101e-02,  7.80131650e-03, -2.36426626e-02, -6.75679704e-03,
        8.65598925e-03,  2.06501156e-03,  2.10767436e-02,  3.26784864e-02,
       -3.84486827e-02, -1.89661470e-02,  1.10221304e-02, -9.97175927e-03,
       -1.61667829e-02,  5.36626649e-04, -3.48819196e-02, -5.43956810e-03,
        6.05102633e-03, -5.28418976e-03, -1.38636455e-04, -3.37066852e-02,
       -1.84295440e-02,  7.35923214e-04, -1.06135516e-02, -2.32399413e-02,
        3.72099278e-02, -1.17104005e-02,  2.08633699e-02, -2.24150247e-02,
       -2.35944821e-03, -3.10597531e-03, -7.84657838e-04,  7.49846678e-02,
       -7.49165999e-03, -7.66789004e-03,  7.21942516e-03, -4.63774626e-03,
        4.71382189e-02, -2.16791409e-02, -2.60013547e-02, -1.94424506e-02,
       -1.81497223e-03,  6.16148185e-02, -1.52983655e-02, -1.90234305e-02,
        2.09379756e-03, -1.67609158e-02,  9.08235113e-02, -2.71436886e-03,
        9.70162832e-02,  1.08960249e-02, -1.49114962e-02, -1.85786359e-02,
        7.88913278e-04, -1.79274505e-02,  1.79600475e-02,  2.71488273e-02,
       -6.20492009e-03, -1.76043075e-02, -2.46677861e-03, -2.54206380e-02,
        4.18072716e-03,  4.29144843e-03, -1.50103588e-02, -3.82330952e-02,
       -8.61527814e-03,  1.80178226e-02,  8.84411368e-03, -3.05901549e-02,
       -1.25384425e-02, -4.50613549e-03, -7.04959320e-03, -1.67272919e-02,
       -1.04833165e-02, -1.89423587e-02, -3.81522714e-03, -1.41255895e-04,
        4.11558648e-02, -2.14467153e-02, -3.65979339e-02, -7.97311174e-03,
       -8.48982772e-03,  1.41819674e-02,  9.22813425e-03, -2.09451276e-03,
        1.56460054e-02,  9.69057105e-03,  2.46091363e-02, -1.55187610e-02,
       -1.42616676e-02, -4.01787445e-02, -3.79640713e-03,  6.26487402e-04,
       -6.77742934e-03,  2.69730154e-02,  9.52290752e-03, -2.09818718e-02,
        5.32105056e-02, -1.10652569e-03,  5.68937799e-03, -2.27159526e-02,
       -6.63054768e-03,  3.96635924e-02, -5.77211763e-03,  2.56518473e-02,
       -5.83208499e-03, -2.18632517e-02,  1.34182085e-02,  8.16483706e-04,
       -1.60273224e-02, -1.86642283e-02,  3.09179199e-02, -1.11332090e-02,
        1.12493436e-02,  3.07664185e-02, -1.19901553e-02, -6.37865801e-03,
       -1.45984907e-02, -2.13651174e-02, -2.25516814e-02,  1.73371287e-02,
       -9.21636298e-03, -2.57660334e-03,  8.68901789e-03, -3.63719579e-03,
        2.30988287e-02,  8.05241421e-02, -2.20963462e-02,  3.89298760e-02,
       -2.66031669e-02, -6.62009311e-03,  3.19095737e-02,  6.91259109e-02,
       -2.71869411e-04,  5.19599064e-02, -3.02989482e-03, -3.44727413e-03,
       -1.10006239e-02, -2.40475841e-03, -1.12946179e-02, -3.60021308e-03,
        1.28558979e-02, -2.79624480e-02, -2.43811308e-03,  1.96270210e-03,
        4.28401765e-02, -4.06714050e-03,  1.24739705e-02,  7.18074056e-03,
       -1.29156428e-02,  3.66876877e-03, -1.24846548e-02,  1.12232738e-01,
       -6.20655462e-03,  1.30455234e-02, -1.52365118e-02, -6.98437663e-03,
        1.43780526e-01, -8.69830379e-03, -4.30456738e-03, -1.48134361e-02,
       -3.13847611e-02,  2.80298888e-02, -1.95188308e-02, -4.62673712e-02,
       -4.60455487e-02,  3.39611263e-02, -6.08906130e-03, -3.43858657e-03,
       -2.08318324e-02, -1.50237137e-02, -1.13115993e-02, -1.22569788e-02,
        3.56311835e-02,  3.08105293e-02,  4.71789377e-04,  1.25779624e-01,
        1.78019186e-02, -1.54253941e-03,  3.39422324e-02, -1.12463872e-02,
       -3.23505868e-03, -2.62625565e-04,  1.27487495e-01, -6.64534451e-03,
       -7.00230652e-03, -1.56663042e-02,  5.45847693e-03, -2.83990983e-03,
       -5.93621256e-03,  1.79134915e-03, -3.03716854e-02, -1.70844461e-02,
        6.52216191e-02, -2.33362922e-02, -1.87848277e-02, -1.80817062e-02,
        7.46736516e-03, -7.09026336e-03, -9.31951363e-03,  6.03188521e-02,
        1.41568296e-02,  8.51194426e-03, -1.01599126e-02,  1.74894886e-02,
       -3.41652448e-03,  3.02199756e-02,  3.74136000e-03,  4.61876001e-02,
       -1.01153504e-02, -5.66726151e-03, -1.82007312e-02,  5.30417710e-02,
       -2.02069815e-02,  7.88695289e-03, -4.46924674e-03, -1.99924152e-03,
       -2.48458705e-02, -2.93831562e-02, -3.11425210e-02,  8.99362796e-03,
       -1.47831527e-02, -5.91179895e-03, -6.47556220e-03, -1.08539649e-02,
        7.98406095e-02,  3.77256489e-02,  4.18034444e-03, -5.47290401e-03,
       -2.02588765e-02, -6.33507325e-03, -2.11876981e-02,  5.15280906e-02,
       -2.22643569e-02, -2.85692526e-03, -7.03973345e-03, -2.28971276e-02,
       -2.32002623e-02, -2.99434050e-03,  1.00531201e-01,  2.10899072e-02,
        5.35520735e-03, -1.48190636e-02, -8.71497229e-03, -1.27305175e-02,
       -2.20885601e-02,  2.54981158e-02, -2.65270780e-02, -1.33113493e-03,
       -5.86981107e-03,  9.18206064e-03,  4.15905584e-02, -1.38658736e-02,
       -5.26616166e-04,  3.90360581e-02,  9.13776886e-02, -8.94567269e-03,
       -1.20972814e-02, -5.79107015e-03, -1.17869109e-03,  1.34626151e-01,
       -1.00693229e-02, -3.29978653e-04, -1.02260667e-02, -1.59043830e-02,
       -2.54165935e-02,  2.17637366e-02, -1.76295535e-02,  5.11402903e-02,
       -2.42692264e-02,  1.24603279e-01, -4.27099930e-02, -1.43454340e-02,
        6.01449690e-02, -1.26487558e-02, -5.38679433e-03,  1.99823278e-03,
       -7.20037103e-03,  8.42056008e-03,  9.08309542e-03,  2.21730212e-02,
       -7.67261210e-03, -2.31211943e-03, -1.57788661e-02,  6.39704279e-02,
        2.14666040e-02, -1.35850718e-02, -1.73671699e-02, -6.93531727e-03,
       -2.23944725e-02, -2.34637348e-03,  2.43243628e-02, -4.02713599e-03,
       -6.05286042e-03, -5.06953216e-03, -5.86507510e-03, -1.84059925e-03,
        5.15194621e-04,  1.07928719e-02,  1.21990799e-01, -2.54634669e-02,
       -3.16086126e-02, -7.76284408e-03,  6.11722072e-03, -2.20891704e-02,
       -1.93011751e-02, -2.35402739e-02,  9.47960193e-03,  5.55846701e-04,
        5.02445904e-02,  9.59688374e-03, -8.75116159e-03, -2.46628848e-03,
       -2.64726289e-03,  1.57941312e-02, -3.24557468e-03, -1.54954605e-02,
       -7.40443842e-04,  4.23436513e-03, -9.59843939e-03,  5.29719651e-02,
       -1.16443813e-02,  8.28570802e-02,  3.55752606e-03,  3.92146782e-02,
       -1.56482483e-02, -8.87373208e-03,  2.82780302e-02, -1.50800340e-02,
       -1.08255899e-02, -2.15502028e-03, -2.55594030e-04, -2.16106829e-02,
        1.87585042e-02,  8.27574584e-03, -2.55818029e-02,  3.92517567e-03,
        3.66433290e-02,  6.04759945e-03,  3.41802879e-02, -1.55829919e-02,
       -3.70966972e-03, -1.65476336e-02, -2.65051175e-02, -1.06423289e-02,
       -8.58803422e-03, -1.45162231e-02,  7.23183685e-02, -1.75390779e-04,
       -9.07167023e-03,  3.17051413e-03, -1.63780922e-02, -7.90778099e-03,
        1.20993710e-02, -2.49001637e-02, -2.29273573e-02,  6.17819850e-03,
       -2.32878542e-02,  2.51893347e-02, -2.76696883e-02,  1.76920825e-02,
        3.30228327e-02,  8.02675814e-02, -1.64738203e-02,  1.50517572e-02,
       -5.17545661e-03, -2.71774383e-02, -1.47406884e-02, -2.03894738e-02,
        1.49261324e-02, -1.54873885e-02,  1.49828119e-02, -1.87417446e-03,
       -4.19925627e-03,  5.56940239e-03,  2.08916539e-03, -4.02480927e-03,
       -7.12954495e-03, -4.37290026e-03,  1.04242737e-01,  1.88030241e-01,
        3.60439368e-02,  4.13053416e-02,  2.06968205e-02,  3.73774912e-03,
       -5.02412324e-02, -5.76309356e-03, -9.04580249e-05,  9.58650653e-03,
        2.92269466e-02, -1.15751275e-02, -1.57981441e-02,  2.01640254e-02,
       -2.32012319e-02,  6.93757510e-02, -3.54126895e-02,  2.87557994e-03,
        9.12253333e-02, -5.62832399e-03, -1.40884525e-02,  3.88091747e-03,
       -1.13155829e-02,  1.85093761e-02,  1.07296137e-02])

In [678]:
predictions = pd.DataFrame(predictions, columns=["Predictions"], index=test.index)

In [679]:
predictions

       Predictions
48        0.003463
49        0.029130
50        0.036673
51        0.219932
52       -0.000393
...            ...
12006    -0.014088
12007     0.003881
12008    -0.011316
12009     0.018509
12010     0.010730

[539 rows x 1 columns]

In [680]:
# Combine DataFrames
combined = pd.concat([test[["Player", "Share"]], predictions], axis=1)

In [681]:
combined

                      Player  Share  Predictions
48                A.J. Green  0.000     0.003463
49              Bobby Portis  0.000     0.029130
50               Brook Lopez  0.000     0.036673
51     Giannis Antetokounmpo  0.606     0.219932
52             Goran DragiÄ  0.000    -0.000393
...                      ...    ...          ...
12006      Mitchell Robinson  0.000    -0.014088
12007             Obi Toppin  0.000     0.003881
12008         Quentin Grimes  0.000    -0.011316
12009             RJ Barrett  0.000     0.018509
12010           Trevor Keels  0.000     0.010730

[539 rows x 3 columns]

### Making Predictions

In [682]:
# Looking at inital predictions
combined.sort_values("Share", ascending=False).head(10)

                        Player  Share  Predictions
11828              Joel Embiid  0.915     0.188030
615              Nikola JokiÄ  0.674     0.176815
51       Giannis Antetokounmpo  0.606     0.219932
2433              Jayson Tatum  0.280     0.135481
1180   Shai Gilgeous-Alexander  0.046     0.134613
10916         Donovan Mitchell  0.030     0.082857
3646          Domantas Sabonis  0.027     0.097016
162              Luka DonÄiÄ  0.010     0.194485
5661             Stephen Curry  0.005     0.112233
8722              Jimmy Butler  0.003     0.100531

In [683]:
# Error metric
from sklearn.metrics import mean_squared_error


mean_squared_error(combined["Share"], combined["Predictions"])

0.002652114023675119

In [684]:
combined["Share"].value_counts()

Share
0.000    526
0.001      2
0.606      1
0.010      1
0.674      1
0.046      1
0.280      1
0.002      1
0.027      1
0.005      1
0.003      1
0.030      1
0.915      1
Name: count, dtype: int64

In [685]:
# Player ranks
combined = combined.sort_values("Share", ascending=False)
combined["Rk"] = list(range(1, combined.shape[0]+1))

In [686]:
combined.head(10)

                        Player  Share  Predictions  Rk
11828              Joel Embiid  0.915     0.188030   1
615              Nikola JokiÄ  0.674     0.176815   2
51       Giannis Antetokounmpo  0.606     0.219932   3
2433              Jayson Tatum  0.280     0.135481   4
1180   Shai Gilgeous-Alexander  0.046     0.134613   5
10916         Donovan Mitchell  0.030     0.082857   6
3646          Domantas Sabonis  0.027     0.097016   7
162              Luka DonÄiÄ  0.010     0.194485   8
5661             Stephen Curry  0.005     0.112233   9
8722              Jimmy Butler  0.003     0.100531  10

In [687]:
# Rank for predictions
combined = combined.sort_values("Predictions", ascending=False)
combined["Predicted_Rk"] = list(range(1, combined.shape[0] + 1))

In [688]:
combined.head(10)

                        Player  Share  Predictions   Rk  Predicted_Rk
51       Giannis Antetokounmpo  0.606     0.219932    3             1
162              Luka DonÄiÄ  0.010     0.194485    8             2
11828              Joel Embiid  0.915     0.188030    1             3
615              Nikola JokiÄ  0.674     0.176815    2             4
6729            Damian Lillard  0.000     0.143781   90             5
2433              Jayson Tatum  0.280     0.135481    4             6
9114              Kevin Durant  0.000     0.134626   50             7
1180   Shai Gilgeous-Alexander  0.046     0.134613    5             8
7058              LeBron James  0.000     0.127487  132             9
7051             Anthony Davis  0.000     0.125780  139            10

In [689]:
combined.sort_values("Share", ascending=False).head(10)

                        Player  Share  Predictions  Rk  Predicted_Rk
11828              Joel Embiid  0.915     0.188030   1             3
615              Nikola JokiÄ  0.674     0.176815   2             4
51       Giannis Antetokounmpo  0.606     0.219932   3             1
2433              Jayson Tatum  0.280     0.135481   4             6
1180   Shai Gilgeous-Alexander  0.046     0.134613   5             8
10916         Donovan Mitchell  0.030     0.082857   6            22
3646          Domantas Sabonis  0.027     0.097016   7            16
162              Luka DonÄiÄ  0.010     0.194485   8             2
5661             Stephen Curry  0.005     0.112233   9            13
8722              Jimmy Butler  0.003     0.100531  10            15

### Error Metrics

In [690]:
# Identifying error metric
def find_ap(combined):
    actual = combined.sort_values("Share", ascending=False).head(5)
    predicted = combined.sort_values("Predictions", ascending=False)
    pts = []
    found = 0
    seen = 1
    for index, row in predicted.iterrows():
        if row["Player"] in actual["Player"].values:
            found += 1
            pts.append(found/seen)
        seen += 1
    return sum(pts) / len(pts)

In [691]:
find_ap(combined)

0.7416666666666666

In [692]:
years = list(range(2000, 2025))

In [693]:
# Calculating top 5 MVPs for every year
aps = []
all_predictions = []
for year in years[5:]:
    train = stats[stats["Year"] <year]
    test = stats[stats["Year"] == year]
    regression.fit(train[predictors], train["Share"])
    predictions = regression.predict(test[predictors])
    predictions = pd.DataFrame(predictions, columns=["Predictions"], index=test.index)
    combined = pd.concat([test[["Player", "Share"]], predictions], axis=1)
    all_predictions.append(combined)
    aps.append(find_ap(combined))

In [694]:
# Mean average precision
sum(aps) / len(aps)

0.6939615050865053

### Rank & Differential

In [695]:
# Add ranks for MVP voting 
def add_ranks(combined):
    combined = combined.sort_values("Share", ascending=False)
    combined["Rk"] = list(range(1, combined.shape[0] + 1))
    combined = combined.sort_values("Predictions", ascending=False)
    combined["Predicted_Rk"] = list(range(1, combined.shape[0] + 1))
    combined["Diff"] = combined["Rk"] - combined["Predicted_Rk"]
    return combined

In [696]:
ranking = add_ranks(all_predictions[1])
ranking[ranking["Rk"] < 6].sort_values("Diff", ascending=False)

                Player  Share  Predictions  Rk  Predicted_Rk  Diff
3010      LeBron James  0.550     0.190826   2             2     0
1986     Dirk Nowitzki  0.435     0.095972   3            16   -13
1026       Kobe Bryant  0.386     0.092212   4            18   -14
4666        Steve Nash  0.739     0.075443   1            24   -23
3397  Chauncey Billups  0.344     0.046794   5            40   -35

In [697]:
# Backtesting function to get predictions
def backtest(stats, model, year, predictors):
    aps = []
    all_predictions = []
    for year in years[5:]:
        train = stats[stats["Year"] <year]
        test = stats[stats["Year"] == year]
        model.fit(train[predictors], train["Share"])
        predictions = regression.predict(test[predictors])
        predictions = pd.DataFrame(predictions, columns=["Predictions"], index=test.index)
        combined = pd.concat([test[["Player", "Share"]], predictions], axis=1)
        combined = add_ranks(combined)
        all_predictions.append(combined)
        aps.append(find_ap(combined))
    return sum(aps)/len(aps), aps, pd.concat(all_predictions)

In [698]:
mean_ap, aps, all_predictions = backtest(stats, regression, years[5:], predictors)

In [699]:
mean_ap

0.6939615050865053

### Diagnosis of Algorithm

In [700]:
all_predictions[all_predictions["Rk"] <= 5].sort_values("Diff").head(10)

                 Player  Share  Predictions  Rk  Predicted_Rk  Diff
3397   Chauncey Billups  0.344     0.046794   5            40   -35
11024       Joakim Noah  0.258     0.044391   4            37   -33
4648         Steve Nash  0.839     0.051237   1            33   -32
1405         Chris Paul  0.138     0.073301   5            33   -28
4666         Steve Nash  0.739     0.075443   1            24   -23
1026        Kobe Bryant  0.386     0.092212   4            18   -14
7842       Kevin Durant  0.495     0.072789   2            16   -14
1986      Dirk Nowitzki  0.435     0.095972   3            16   -13
1006      Allen Iverson  0.189     0.075288   5            18   -13
6243        Kobe Bryant  0.873     0.082758   1            13   -12

In [701]:
pd.concat([pd.Series(regression.coef_), pd.Series(predictors)], axis=1).sort_values(0, ascending=False)

           0     1
13  0.108347  eFG%
29  0.037836  W/L%
18  0.031781   DRB
17  0.019988   ORB
15  0.011416   FTA
25  0.009804   PTS
12  0.009531   2P%
21  0.008851   STL
22  0.007552   BLK
20  0.007213   AST
10  0.006563    2P
4   0.005764    FG
8   0.002610   3PA
32  0.000328  PA/G
30  0.000309    GB
27  0.000099     W
1   0.000078     G
0   0.000017   Age
2   0.000010    GS
28 -0.000359     L
33 -0.000448   SRS
26 -0.000543  Year
31 -0.000849  PS/G
3  -0.003545    MP
24 -0.003642    PF
16 -0.003836   FT%
23 -0.004343   TOV
11 -0.005627   2PA
5  -0.007248   FGA
14 -0.009991    FT
9  -0.010131   3P%
7  -0.013769    3P
19 -0.024836   TRB
6  -0.170752   FG%

### Adding Predictors to Improve Model

In [702]:
# Adding predictors
stats_ratios = stats[["PTS", "AST", "STL", "BLK", "3P", "Year"]].groupby("Year").apply(lambda x: x/x.mean())

# Reset index to ensure it matches the original DataFrame
stats_ratios = stats_ratios.reset_index(drop=True)

In [703]:
stats_ratios

            PTS       AST       STL       BLK        3P  Year
0      0.627089  0.540640  0.894701  0.467519  0.000000   1.0
1      0.514213  1.459729  0.745584  0.467519  0.512850   1.0
2      0.790132  1.513793  1.491168  0.000000  1.794977   1.0
3      0.401337  0.108128  0.298234  0.233759  0.769276   1.0
4      1.994143  1.189409  0.894701  0.467519  2.820678   1.0
...         ...       ...       ...       ...       ...   ...
12086  1.448372  1.998602  1.522176  0.993056  2.550725   1.0
12087  0.047488  0.000000  0.169131  0.000000  0.106280   1.0
12088  0.949752  0.899371  0.507392  0.248264  2.444444   1.0
12089  0.391773  0.499651  0.338261  0.744792  0.000000   1.0
12090  0.237438  0.749476  0.000000  0.000000  0.000000   1.0

[12091 rows x 6 columns]

In [706]:
stats[["PTS_T", "AST_R", "STL_R", "BLK_R", "3P_R"]] = stats_ratios[["PTS", "AST", "STL", "BLK", "3P"]]

In [707]:
stats.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,GB,PS/G,PA/G,SRS,PTS_R,AST_R,STL_R,BLK_R,3P_R,PTS_T
0,A.C. Green,PF,36,LAL,82,82,23.5,2.1,4.7,0.447,...,0.0,100.8,92.3,8.41,0.627089,0.540640,0.894701,0.467519,0.000000,0.627089
1,Brian Shaw,SG,33,LAL,74,2,16.9,1.7,4.4,0.382,...,0.0,100.8,92.3,8.41,0.514213,1.459729,0.745584,0.467519,0.512850,0.514213
2,Derek Fisher,PG,25,LAL,78,22,23.1,2.1,6.2,0.346,...,0.0,100.8,92.3,8.41,0.790132,1.513793,1.491168,0.000000,1.794977,0.790132
3,Devean George,SF,22,LAL,49,1,7.0,1.1,2.9,0.389,...,0.0,100.8,92.3,8.41,0.401337,0.108128,0.298234,0.233759,0.769276,0.401337
4,Glen Rice,SF,32,LAL,80,80,31.6,5.3,12.3,0.430,...,0.0,100.8,92.3,8.41,1.994143,1.189409,0.894701,0.467519,2.820678,1.994143

In [708]:
predictors += ["PTS_T", "AST_R", "STL_R", "BLK_R", "3P_R"]

In [709]:
mean_ap, aps, all_predictions = backtest(stats, regression, years[5:], predictors)

In [710]:
mean_ap

0.694875099573629

### Using Position & Team as a Predictor

In [712]:
stats["NPos"] = stats["Pos"].astype("category").cat.codes

In [713]:
stats["NTm"] = stats["Tm"].astype("category").cat.codes

In [714]:
stats["Pos"].unique()

array(['PF', 'SG', 'PG', 'SF', 'C', 'PF-SF', 'PG-SG', 'C-PF', 'SG-PG',
       'PF-C', 'SG-SF', 'SF-PF', 'SF-SG', 'SG-PF', 'PG-SF', 'SG-PG-SF',
       'SF-C'], dtype=object)

In [717]:
# Random Forrest to create a series of decision trees and average predictions
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators=50, random_state=1, min_samples_split=5)

mean_ap, aps, all_predictions = backtest(stats, rf, years[17:], predictors)

In [718]:
mean_ap

0.7599897394272396

In [719]:
mean_ap, aps, all_predictions = backtest(stats, rf, years[17:], predictors)

In [720]:
mean_ap

0.7599897394272396